name: "Terraform Multi-Layer Deploy"

on:
  workflow_dispatch:

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: 'us-east-1'
      # ANSI Color Codes
      GREEN: '\033[0;32m'
      RED: '\033[0;31m'
      YELLOW: '\033[1;33m'
      NC: '\033[0m' # No Color

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false 

      - name: Terraform Apply All
        run: |
          folders=("00-vpc" "10-sg" "20-bastion" "30-db" "40-eks" "50-acm" "60-ingress-alb" "70-ecr")
          BASE_PATH="$(pwd)/terraform"

          for dir in "${folders[@]}"; do
            echo -e "${YELLOW}********************************************${NC}"
            echo -e "${YELLOW} STARTING LAYER: $dir ${NC}"
            echo -e "${YELLOW}********************************************${NC}"
            
            if [ -d "$BASE_PATH/$dir" ]; then
              cd "$BASE_PATH/$dir"
            else
              echo -e "${RED}Error: Directory $BASE_PATH/$dir does not exist!${NC}"
              exit 1
            fi
            
            terraform init -input=false
            
            if terraform apply -auto-approve -input=false; then
              echo -e "${GREEN}SUCCESS: $dir applied successfully!${NC}"
            else
              echo -e "${RED}ERROR: Terraform failed in $dir. Stopping pipeline.${NC}"
              exit 1
            fi
            
            cd $GITHUB_WORKSPACE
          done