name: "frontend Expense App CI/CD Pipeline"

on:
  workflow_dispatch:
    inputs:
      deploy_app:
        description: 'Do you want to build and deploy the application after infra?'
        type: boolean
        default: true

env:
  AWS_REGION: 'us-east-1'
  EKS_CLUSTER_NAME: 'expense-dev' 
  DOCKER_REPO: "eswarsaikumar/expense-backend"

jobs:
  frontend-app:
    runs-on: ubuntu-latest
    steps:
      # 1. ALWAYS CHECKOUT FIRST
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. READ VERSION & PREP
      - name: Read Version and Install Dependencies
        working-directory: ./frontend
        id: prep
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          npm install
          echo "Application version: $VERSION"

      - name: Build Zip Artifact
        working-directory: ./backend
        run: |
          zip -q -r frontend-${{ env.APP_VERSION }}.zip . -x "*.git*" ".github/*" "frontend-${{ env.APP_VERSION }}.zip"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push to Docker Hub
        working-directory: ./backend
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/expense-frontend"
          echo "Building and pushing $IMAGE_NAME:${{ env.APP_VERSION }}"
          docker build -t $IMAGE_NAME:${{ env.APP_VERSION }} .
          docker push $IMAGE_NAME:${{ env.APP_VERSION }}
      
      - name: Configure AWS credentials (for EKS)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.EKS_CLUSTER_NAME }}

      
      - name: Helm Deploy to EKS
        working-directory: ./frontend/helm
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/expense-frontend"
          
          # We force 'Always' and provide the correct Docker Hub image path
          helm upgrade --install frontend . \
            --namespace expense \
            --create-namespace \
            --set deployment.image=$IMAGE_NAME:${{ env.APP_VERSION }} \
            --set deployment.imagePullPolicy=Always